{% extends 'base.html' %}

{% block title %}
  Интернет аптека | О сайте
{% endblock %}

{% block body %}
  <div class="card" style="background-color: #4eb8a5;">
    <div class="card-header">
      <h1>Домашняя работа №11 Gitlab pipelines</h1>
      <div class="card-body">
        <h3>Цель:</h3>
        <p>В этом ДЗ вы создадите pipeline с тестированием.</p>
        <ul class="list">
          <li>создать pipeline с тестированием</li>
          <li>запускать pipeline автоматически в master ветке</li>
          <li>запускать pipeline вручную в MR</li>
        </ul>
        <h3>Критерии оценки:</h3>
        <ul class="list">
          <li>создан pipeline с тестированием</li>
          <li>pipeline запускается автоматически в master ветке</li>
          <li>pipeline запускается вручную в MR</li>
        </ul>
      </div>
      <div class="card-footer text-dark">
        <span class="badge bg-primary">Георгий Плющев</span>
        <span class="badge bg-primary">2023</span>
      </div>
    </div>
  </div>
{% endblock %}