{% extends 'base.html' %}

{% block title %}
  Интернет аптека | О сайте
{% endblock %}

{% block body %}
  <div class="card" style="background-color: #4eb8a5;">
    <div class="card-header">
      <h1>Домашняя работа №9 Тестирование Django приложения</h1>
      <div class="card-body">
        <h3>Цель:</h3>
        <p>В этом ДЗ вы протестируете Django приложения.</p>
        <ul class="list">
          <li>использовать setUp, tearDown</li>
          <li>проверять контекст</li>
        </ul>
        <h3>Критерии оценки:</h3>
        <ul class="list">
          <li>выполняется тестирование - 1 балл</li>
          <li>в setUp, tearDown создаются и удаляются модели для тестирования - 1 балл</li>
          <li>проверяется контекст - 1 балл</li>
        </ul>
      </div>
      <div class="card-footer text-dark">
        <span class="badge bg-primary">Георгий Плющев</span>
        <span class="badge bg-primary">2023</span>
      </div>
    </div>
  </div>
{% endblock %}