{% extends 'base.html' %}

{% block title %}
  Интернет аптека | О сайте
{% endblock %}

{% block body %}
  <div class="card" style="background-color: #4eb8a5;">
    <div class="card-header">
      <h1>Домашняя работа №10 GitGub action</h1>
      <div class="card-body">
        <h3>Цель:</h3>
        <p>В этом ДЗ вы создадите action с выполнением тестов.</p>
        <ul class="list">
          <li>
            добавить GitHub Action с выполнением тестов
            (можно настроить на выполнение имеющихся тестов, например, тестов Django приложения);
          </li>
          <li>
            БОНУС! применить какой-либо открытый ресурс для тестирования и проверки покрытия:
            Travis, codecov, coveralls и тд.
          </li>
        </ul>
        <h3>Критерии оценки:</h3>
        <ul class="list">
          <li>создан GitHub Action с выполнением тестов</li>
        </ul>
      </div>
      <div class="card-footer text-dark">
        <span class="badge bg-primary">Георгий Плющев</span>
        <span class="badge bg-primary">2023</span>
      </div>
    </div>
  </div>
{% endblock %}