{% extends 'base.html' %}

{% block title %}
  Интернет аптека | О сайте
{% endblock %}

{% block body %}
  <div class="card" style="background-color: #4eb8a5;">
    <div class="card-header">
      <h1>Домашняя работа №8 Django Generics</h1>
      <div class="card-body">
        <h3>Цель:</h3>
        <p>В этом ДЗ вы доработаете своё приложение для отображения моделей на страницах.</p>
        <ul class="list">
          <li>доработать своё приложение для отображения моделей на страницах</li>
          <li>добавить страницы ListView и DetailView</li>
        </ul>
        <h3>Критерии оценки:</h3>
        <ul class="list">
          <li>данные отображаются на страницах</li>
          <li>есть кнопка для возвращения к списку</li>
        </ul>
      </div>
      <div class="card-footer text-dark">
        <span class="badge bg-primary">Георгий Плющев</span>
        <span class="badge bg-primary">2023</span>
      </div>
    </div>
  </div>
{% endblock %}